<nav>
    <a href="/">MAIN</a>
    <a href="/books">BOOKS</a> 
    <a href="/genres">GENRES</a> |
    <a href="/authors">AUTHORS</a> |
    <a href="/borrowers">BORROWERS</a> |
    <a href="/loans">LOANS</a>
</nav>

<h1>Borrowers</h1>

<!-- Table to Display Borrowers -->
<table>
    <thead>
        <tr>
            <th>Borrower ID</th>
            <th>Borrower Name</th>
            <th>Borrower Email</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr id="row-{{this.borrowerID}}">
            <td>{{this.borrowerID}}</td>
            <td>{{this.borrowerName}}</td>
            <td>{{this.borrowerEmail}}</td>
            <td>
                <button class="delete-button" data-borrowerid="{{this.borrowerID}}">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Form to Add a New Borrower -->
<h2>Add a New Borrower</h2>
<form id="add-borrower-form">
    <label>Borrower Name:</label>
    <input type="text" name="borrowerName" required>
    <label>Borrower Email:</label>
    <input type="text" name="borrowerEmail" required>
    <input type="submit" value="Submit">
</form>

<script src="./js/borrowers.js"></script>
