<nav>
    <a href="/">MAIN</a>
    <a href="/books">BOOKS</a> 
    <a href="/genres">GENRES</a> |
    <a href="/authors">AUTHORS</a> |
    <a href="/borrowers">BORROWERS</a> |
    <a href="/loans">LOANS</a>
</nav>

<h1>LOANS</h1>

<!-- Table to Display Genres -->
<table>
    <thead>
        <tr>
            <th>Loan ID</th>
            <th>Return Date</th>
            <th>Loan Date</th>
            <th>Borrower Name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr id="row-{{this.loanID}}">
            <td>{{this.loanID}}</td>
            <td>{{this.returnDate}}</td>
            <td>{{this.loanDate}}</td>
            <td>{{this.borrowerName}}</td>
            <td>
                <button class="delete-button" data-loanid="{{this.loanID}}">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Form to Add a New Loan -->
<h2>Add a New Loan</h2>
<form id="add-loan-form">
    <label>Return Date:</label>
    <input type="date" name="returnDate" required>

    <label>Loan Date:</label>
    <input type="date" name="loanDate" required>

    <label>Borrower:</label>
    <select name="borrowerID" required>  <!-- Use dropdown -->
        <option value="">Select a Borrower</option>
        {{#each borrowers}}  <!-- Loop through borrowers -->
        <option value="{{this.borrowerID}}">{{this.borrowerName}}</option>  <!-- Display name, store ID -->
        {{/each}}
    </select>

    <input type="submit" value="Submit">
    
</form>

<script src="./js/loans.js"></script>
